extends layout
block content
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") MyEvent
            ul(class="nav navbar-nav")
                li
                    a(href="/") Home
                li(class="active") 
                    a(href="/about") About
                li 
                    a(href="/upcomingevents") Upcoming Events
                if name
                    li
                        a(href="/registeredEvents") Registered Events 
            ul(class="nav navbar-nav navbar-right")
                if name
                    li 
                        a(href="/logout") 
                            span(class="glyphicon glyphicon-log-out") Logout
                    li 
                        a(href="#") 
                            span(class="glyphicon glyphicon-user") #{ name }
                else
                    li 
                        a(href="/signup") 
                            span(class="glyphicon glyphicon-user") SignUp
                    li 
                        a(href="/login") 
                            span(class="glyphicon glyphicon-log-in") Login
    div(class="container")
        h1 In this website you can signup and can register in the events shown in the Upcoming events page